<a href="https://colab.research.google.com/github/JZT3/TrafficClustering/blob/main/Traffic_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn as sk
import numpy as np
import math

In [ ]:
path = ('/content/drive/MyDrive/Metro Arterial Perfomance Report 2019 Data(1).csv')
df = pd.read_csv(path)

In [ ]:
df.head()

   FID   Shape *     XDSegID  ...   TI17Mid    TI17PM    TI17Wk
0    0  Polyline  1346275845  ...  1.150000  1.045455  1.150000
1    1  Polyline  1346276004  ...  1.556818  1.577320  1.284091
2    2  Polyline  1346276772  ...  1.357143  1.187500  1.500000
3    3  Polyline  1346277168  ...  1.700000  1.700000  1.500000
4    4  Polyline  1346277285  ...  1.263158  1.200000  1.192982

[5 rows x 68 columns]

In [ ]:
df.shape

(2788, 68)

In [ ]:
df.dtypes

FID          int64
Shape *     object
XDSegID      int64
PrevsXD     object
NxtXDSI     object
            ...
TI19Wk     float64
TI17AM     float64
TI17Mid    float64
TI17PM     float64
TI17Wk     float64
Length: 68, dtype: object

In [ ]:
df['Lt Midpoint'] = df[['StartLt','EndLat']].mean(axis = 1)
df['Lg Midpoint'] = df[['StrtLng','EndLong']].mean(axis = 1)
print(df)

       FID   Shape *     XDSegID  ...    TI17Wk Lt Midpoint  Lg Midpoint
0        0  Polyline  1346275845  ...  1.150000   42.299590   -83.271575
1        1  Polyline  1346276004  ...  1.284091   42.670010   -83.133300
2        2  Polyline  1346276772  ...  1.500000   42.330270   -83.042245
3        3  Polyline  1346277168  ...  1.500000   42.681755   -83.245420
4        4  Polyline  1346277285  ...  1.192982   42.482500   -83.285340
...    ...       ...         ...  ...       ...         ...          ...
2783  2783  Polyline   449179161  ...  1.297297   42.344350   -83.037965
2784  2784  Polyline   449179162  ...  1.466667   42.345820   -83.036840
2785  2785  Polyline   449191563  ...  1.625000   42.330970   -83.039575
2786  2786  Polyline   449191564  ...  1.588235   42.330630   -83.040385
2787  2787  Polyline   449191565  ...  1.769231   42.330145   -83.041510

[2788 rows x 70 columns]

In [ ]:
def get_bearing(x,y):
  distance_operation = ((df['Lt Midpoint'])**2 + (df['Lg Midpoint'])**2)**(1/2)
  df["Angle"] = distance_operation
  radian = math.atan2(df["Angle"])

print(df)
print(radian)

       FID   Shape *     XDSegID  ...    TI17Wk Lt Midpoint  Lg Midpoint
0        0  Polyline  1346275845  ...  1.150000   42.299590   -83.271575
1        1  Polyline  1346276004  ...  1.284091   42.670010   -83.133300
2        2  Polyline  1346276772  ...  1.500000   42.330270   -83.042245
3        3  Polyline  1346277168  ...  1.500000   42.681755   -83.245420
4        4  Polyline  1346277285  ...  1.192982   42.482500   -83.285340
...    ...       ...         ...  ...       ...         ...          ...
2783  2783  Polyline   449179161  ...  1.297297   42.344350   -83.037965
2784  2784  Polyline   449179162  ...  1.466667   42.345820   -83.036840
2785  2785  Polyline   449191563  ...  1.625000   42.330970   -83.039575
2786  2786  Polyline   449191564  ...  1.588235   42.330630   -83.040385
2787  2787  Polyline   449191565  ...  1.769231   42.330145   -83.041510

[2788 rows x 70 columns]

NameError: ignored